In [15]:
# 16 feb assign

In [16]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [17]:
# A database is an organized collection of structured information, or data, 
# typically stored electronically in a computer system.
# A database is usually controlled by a database management system (DBMS). 
#SQL
# RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
# These databases have fixed or static or predefined schema
# These databases are not suited for hierarchical data storage.
# These databases are best suited for complex queries
# Vertically Scalable
# Follows ACID property
# Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
# NoSql
# Non-relational or distributed database system.
# They have dynamic schema
# These databases are best suited for hierarchical data storage.
# These databases are not so good for complex queries
# Horizontally scalable
# Follows CAP(consistency, availability, partition tolerance)
# Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [18]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [19]:
# Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
# DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.
# These commands are used to create or modify the tables in SQL.
# CREATE :
# This command is used to create a new table in SQL. 
# The user has to give information like table name, column names, and their datatypes.
# Example –
# We need to create a table for storing Student information of a particular College.
# Create syntax would be as below.
# CREATE TABLE Student_info
# (
# College_Id number(2),
# College_name varchar(30),
# Branch varchar(10)
# );
# ALTER :
# This command is used to add, delete or change columns in the existing table.
# The user needs to know the existing table name and can do add, delete or modify tasks easily.
# Example –
# In our Student_info table, we want to add a new column for CGPA. 
# The syntax would be as below as follows.
# ALTER TABLE Student_info
# ADD CGPA number;
# TRUNCATE :
# This command is used to remove all rows from the table, but the structure of the table still exists
# The College Authority wants to remove the details of all students for new
# batches but wants to keep the table structure. The command they can use is as follows.

# TRUNCATE TABLE Student_info;
# DROP :
# This command is used to remove an existing table along with its structure from the Database.
# Example –
# If the College Authority wants to change their Database by deleting the Student_info Table. 

# DROP TABLE Student_info;

In [20]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [21]:
# The SQL commands that deals with the manipulation of data present in the database belong to DML 
# or Data Manipulation Language and this includes most of the SQL statements.
# It is the component of the SQL statement that controls access to data and to the database.

In [22]:
# SELECT
# The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. 
#It is the component of the SQL statement that controls access to data and to the database.
# INSERT DML Command
# INSERT is another most important data manipulation command in Structured Query Language,
# which allows users to insert data in database tables.
# Example : This example describes how to insert the record in the database table.
# INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19);
# UPDATE DML Command
# UPDATE is another most important data manipulation command in Structured Query Language, 
# which allows users to update or modify the existing data in database tables.
# Example
# Suppose, you want to update the Product_Price of the product whose Product_Id is P102.
# To do this, you have to write the following DML UPDATE command:
# UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;  
# DELETE DML Command
# DELETE is a DML command which allows SQL users
# to remove single or multiple existing records from the database tables.
# Example
# Suppose, you want to delete that product from the Product table whose Product_Id is P203.
# To do this, you have to write the following DML DELETE command:

# DELETE FROM Product WHERE Product_Id = 'P202' ;

In [23]:
# Q4. What is DQL? Explain SELECT with an example.
# DQL statements are used for performing queries on the data within schema objects. 
# The purpose of the DQL Command is to get some schema relation based on the query passed to it.
#  SELECT
#  This is the same as the projection operation of relational algebra. 
#  It is used to select the attribute based on the condition described by WHERE clause.
# Example
# SELECT emp_name  
# FROM employee  
# WHERE age > 20;

In [24]:
# Q5. Explain Primary Key and Foreign Key.

In [25]:
# Primary key
# The primary key is a unique or non-null key that uniquely identifies every record in a table or relation.
# The primary key column can't store duplicate values. It is also called a minimal super key; 
# therefore, we cannot specify more than one primary key in any relationship.
# Foreign key
# The foreign key is a group of one or more columns in a database to uniquely identify another database record
# in some other table to maintain the referential integrity.
# It is also known as the referencing key that establishes a relationship
# between two different tables in a database.
# . A foreign key always matches the primary key column in another table.

In [26]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# import mysql.connector
# mydb = mysql.connector.connect(
#  host="localhost",
#  user="abc",
#  password="password"
# )
# mycursor =mydb.cursor()
# mycursor.execute("CREATE DATABASE if not exists test2")
# mydb.close()

In [27]:
# cursor()
# Allows Python code to execute PostgreSQL command in a database session.
# Cursors are created by the connection.cursor() method: they are bound to the connection 
# for the entire lifetime and all the commands are executed in the context
# of the database session wrapped by the connection.
# execute()
# This method executes the given database operation (query or command).
# The parameters found in the tuple or dictionary params are bound to the variables in the operation.

In [28]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# The order in which the clauses in queries are executed is as follows:

# 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

# 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

# 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

# 4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

# 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

# 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

# 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.