In [1]:
# 23 feb assignment

In [2]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
data = [4,8,15,16,23,42]
Ser = pd.Series(data)

In [4]:
Ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
# variable print it.

In [6]:
lis = [1,2,3,4,5,6,7,8,9,10.0]
Ser1 = pd.Series(lis)

In [7]:
Ser1

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [8]:
# Q3. Create a Pandas DataFrame that contains the following data.

In [9]:
# pandas.DataFrame(data, index, columns)
data1 = [['Alice',25,'Female'], ['Bob',30,'Male'],['Claire',27,'Female']]
df1 = pd.DataFrame(data1,columns=['Name' ,'Age','Gender'])

In [10]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [12]:
# Series
# It is one dimensional.
# It contain element of same type.
# Once created , the size of series is immutable.
# series = pd.Series(data=None, index=None, dtype=None, name=None)
#Creating a Series from dict
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
Name: series_from_dict, dtype: int64

In [13]:
# Dataframe
# It is 2 dimensional.
#  DataFrame elements can have different data types.
# Size-mutable – Elements can be dropped or added in an existing DataFrame.
# df = pd.DataFrame(data=None, index=None, columns=None, dtype=None)
#Creating a DataFrame from a dictionary of lists
data = {
    "Class 1": [22, 33, 38],
    "Class 2": [45, 28, 36], 
    "Class 3": [32, 41, 47]
}
df3 = pd.DataFrame(data=data, index=['math avg', 'science avg', 'english avg'])
print(df3)

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47

In [14]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
# you give an example of when you might use one of these functions?
# pd.read_csv
# df.head()
# df.tail()
# df.shape
# df.describe()
# df.dropna()
# loc 
# iloc
# ex.
df3.head(1)

          Class 1  Class 2  Class 3
math avg       22       45       32

In [15]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [16]:
# DataFrame is mutable.
# Series is size immutable.

In [17]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
#Creating a DataFrame from a dictionary of Series
data3 = pd.DataFrame({
    "Class 1": pd.Series([22, 33, 38], index=["math avg", "science avg",  "english avg"]),
    "Class 2": pd.Series([45, 28, 36], index=["math avg", "science avg",  "english avg"]),
    "Class 3": pd.Series([32, 41, 47], index=["math avg", "science avg",  "english avg"])
})


print(data3)

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47