In [ ]:
# 1. Explain with example when to use for and while loop

In [ ]:
# For loop is used when no. of iteration is already known
#Ex. Print no. from 1 to 10
for i in range(1,11):
    print(i)

In [3]:
# While loop is used when no. of iteration is not known.
# Ex.
total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    
    
    # take integer input again
    number = int(input('Enter a number: '))
    

print('total =', total)

Enter a number:  12
Enter a number:  12
Enter a number:  12
Enter a number:  0

total = 36

In [1]:
# 2.  Write a python program to print the sum and product of the first 10 natural numbers using for 
#     and while loop

In [3]:
sum=0
product=1
for i in range(1,11):
    sum +=i
    product *=i
print("sum is ",sum)
print("product is ", product)

sum is  55
product is  3628800

In [9]:
# 3. Create a python program to compute electricity bill.
x = int(input("enter unit consumed in month"))

if x<=100:
    res1 = x*4.5
    print("amount paid for 1 month ", res1)
elif x>100 and x<=200:
    y= x-100
    res2 =  100*4.5+ y*6 
    print("amount paid for 1 month " , res2)
elif x>200 and x<=300:
    z = x-200
    res3 = 100*4.5 +100*6 + z*10
    print("amount paid for 1 month " ,res3)
else:
    k = x-300
    res4 = 100*4.5 +100*6 + 100*10 + k*20
    print("amount paid for 1 month " , res4)

enter unit consumed in month 310

amount paid for 1 month  2250.0

In [10]:
# 4. Create a list of number from 1 to 100. Calulate the cube and check divisibility
#  by 4 and 5 and append to list

In [11]:
l1 =[]
for i in range(1,101):
    l1.append(i)

In [12]:
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [15]:
# using for loop
l2 =[]
for i in range(len(l1)):
    l2.append(l1[i]**3)

In [17]:
print(l2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [19]:
# using while loop
i=1
l3 = []
while i<=100:
    l3.append(i**3)
    i +=1
print(l3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [20]:
# divisibility by 4 or 5
l4 = []
for i in range(len(l3)):
    if l3[i]%4==0 or l3[i]%5==0:
        l4.append(l3[i])
print(l4)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [24]:
# 5. Filter the count of vowels in the string
count=0
string  = "I want to become a data scientist"
string = string.lower()
vowels ="aeiou"
for i in string:
    if i in vowels:
        count +=1
print("no. of vowels is ",count)

no. of vowels is  12